#map-chart {
    height: 450px;
    width: 700px;
}

.map-wrapper {
    display: flex;
}

#mapCategorySelection {
    max-height: 2em;
}

.compare-body {
    display: flex;
    columns: 2;
}

.compare-body * {
    display: block;
}

#country-compare {
    border-radius: 20px;
    border: 2px solid black;
    top: 100px;
    left: 500px;
    position: absolute;
    background-color: #fff;
    padding: 20px;
    width: 400px;
    margin: auto;
}

.compare-hidden {
    display: none;
    visibility: hidden;
}

.compare-close {
    position: absolute;
    left: 90%;
    top: 15px;
}

.compare-table-headers {
    font-size: 1.1em;
    font-weight: bold;

}

#scatter-plot {
    height: 730px;
}

#map-chart svg {
    width: 100%;
    height: 100%;
    margin: auto;
}

#map-chart svg {
    margin: auto;
}

.AxisHead{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    fill: black;
    text-anchor: middle;
}
  
path.pcLine{
    opacity: 0.3;
    fill: none
}
  
path.brushed{
    stroke: rgb(230, 25, 25);
    stroke-width: 2;
    opacity: 0.4;
    fill: none
}
  
.no-display {
    display: none !important;
}
  
  
#tableDiv {
    overflow-y: scroll;
    height: 750px;
}
  
.sortable {
    user-select: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px;
    background:rgb(202, 231, 250);
}
  
.sortable:hover {
    background: black;
    color: white;
}